body{
  background-color: black;
}

h1{
  color: #fad2e5;

}

h2{
  color: #fad2e5;
}

h4{
  color: #fad2e5;
  position: absolute;
  top:280%;
  font-size: 40pt;
  left: 35%;


}

p{
  color: #fad2e5;
}

a {
  color: hotpink;
}

.over-img3{
  position: absolute;
  top: 15%;
  left: 72%;
  width: 40%;
}

.over-img{
  position: absolute;
  top:25%;
  left: 2%;
  width: 25%;
}

.over-img2{
  position: absolute;
  top: 20%;
  left:25%;
  width: 50%;
}

.rocket{
  position: absolute;
  top:80%;
  left:2%;
}

.pop{
  position: absolute;
  top:120%;
  left:2%;
}

.flagella{
  position: absolute;
  top: 68%;
  left: 65%;
  width: 40%;
}

.low{
  position: absolute;
  top: 112%;
  left: 65%;
  width: 40%;
}

.butter{
  position: absolute;
  top: 155%;
  left: 65%;
  width: 40%;
}

.mom{
  position: absolute;
  top: 158%;
  left: 33%;
  width: 40%;
}

.pinka{
  position: absolute;
  top: 155%;
  left: 2%;
  width: 40%;
}

.grid-item{
  position: absolute;
  top: 210%;
  left: 2%;
  width:400px;
  height:400px;

}

.grid-item2{
  position: absolute;
  top: 210%;
  left: 30%;
  width:1000px;
  height:700px;

}

.grid-item3{
  position: absolute;
  top: 210%;
  left: 60%;
  width:1000px;
  height:700px;
}

.grid-item4{
  position: absolute;
  top: 210%;
  left: 90%;
  width:1000px;
  height:700px;

}

.grid-item5{
  position: absolute;
  top: 240%;
  left: 2%;
  width:1000px;
  height:700px;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;

}


.grid-itemx{
    position: absolute;
    top: 240%;
    left: 30%;
    width:1000px;
    height:700px;
}

.grid-itemy{
  top: 240%;
  left: 60%;
  width:1000px;
  height:700px;
    position: absolute;
}

.grid-itemz{
  top: 240%;
  left: 90%;
  width:1000px;
  height:700px;
    position: absolute;
}


.reading1{
  position: absolute;
  top:300%;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  text-indent: 50px;
}

.reading2{
  position: absolute;
  top:350%;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  text-indent: 50px;
}

.reading3{
  position: absolute;
  top:390%;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  text-indent: 50px;
}

.reading4{
  position: absolute;
  top:435%;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  text-indent: 50px;
}

.reading5{
  position: absolute;
  top:460%;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  text-indent: 50px;
}

.reading7{
  position: absolute;
  top:490%;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  text-indent: 50px;
}
