body{
  background-color: black;
}

.over-img{
  position: absolute;
  top:35%;
  left:10%;
}

.over-img2{
  position: absolute;
  top:5%;
  left:60%;
}

.cupidHolder{
  margin-top: 200px;
  width: 100%;
}

.over-img3{
  position: absolute;
  top: 85%;
  left: 15%;
}

.over-img4{
  position: absolute;
  top: 110%;
  left: 70%;

}

.over-img5{
  position: absolute;
  top: 185%;
  left: 10%;

}


#cant{
  position: absolute;
  top: 165%;
  left: 40%;
  width: 30%;

}


#fig{
  position: absolute;
  top:30%;
  left: 30%;
  width: 30%;
}

#pineapple{
  position: absolute;
  top:140%;
  left: 65%;
}

#pom{
  position: absolute;
  top:60%;
  left:70%;
  width: 70%;
}

#message{
  position: absolute;
  top: -7%;
  left:50%;

}

.rainbow{
  position: absolute;
  top: 215%;
  left: 60%;

}

.dragon{
  position: absolute;
  top: 220%;
  left: 2%;
}
