body{
  background-color: black;
}

.over-img{
  position: absolute;
  top:35%;
  left:10%;
}

.over-img2{
  position: absolute;
  top:5%;
  left:60%;
}

.cupidHolder{
  margin-top: 200px;
  width: 100%;
}

.over-img3{
  position: absolute;
  top: 85%;
  left: 15%;
}

.over-img4{
  position: absolute;
  top: 110%;
  left: 70%;

}

.over-img5{
  position: absolute;
  top: 185%;
  left: 10%;

}


.over-img6{
  position: absolute;
  top: 165%;
  left: 40%;

}


.over-img7{
  position: absolute;
  top:30%;
  left: 30%;
}

.over-img8{
  position: absolute;
  top:190%;
  left: 60%;
}
